
@page "/Portal/Ads/Facebook/{AdAccountId}"

@layout Manage

<h3>Facebook Ads Section</h3>


<div class="container-fluid m-0" style="max-width: 1000px; min-height: calc(100vh - 100px);">

    Here is the body!

</div>

@code {

    [Parameter]
    public string AdAccountId { get; set; }
}
