
@using Sohi.Models;

@*<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav">

        <li class="nav-item px-0">
            <NavLink class="btn btn-primary" href="@($"Portal/Ads/Facebook/{Profile.Id}/Create/Campaigns")">
                Create
            </NavLink>
        </li>

    </ul>
</div>*@

<div class="ms-auto">
    <a type="button" href="@($"Portal/Ads/Facebook/{Profile.Id}/Create/Campaigns")" class="btn btn-primary">Create</a>
</div>




@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    [CascadingParameter(Name = "AdsProfile")]
    public Profile Profile { get; set; }

    [Parameter]
    public string Id { get; set; }

    protected override void OnParametersSet()
    {
        Id = Profile.Id;
    }
}
