
@inherits LayoutComponentBase
@using Sohi.Models;

@layout AdsLayout

    <div class="page">
        <div class="main">

            <div class="container mt-0 pt-0 px-0 mx-0" style=" margin-top:5rem; ">
                <div class="top-row px-0 mx-0" style="padding-right: 1.5rem !important;">
                    <ManageMenu />
                </div>

                <div class="container-fluid px-0 ps-4">
                    @Body
                </div>
            </div>
            </div>
        </div>

@code {


    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}