

@inherits LayoutComponentBase
@using Sohi.Models;

@layout SocialLayout

<div class="page">
    <div class="main">

        <div class="top-row">
            <InstagramMenu />
        </div>

        <div class="container-fluid px-0">
            @Body
        </div>
    </div>
</div>

@code {


    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}