
@inherits LayoutComponentBase

@layout SocialLayout


<div class="page">
    <div class="main">

        <div class="top-row">
            <InstagramMenu />

        </div>

        <div class="container-fluid">
            @Body
        </div>
    </div>
</div>
