@layout InstagramLayout
@page "/Portal/Social/Instagram/{PageId}/Posts"

@inherits PostsBase

@code {

}

<div class="page">

    <div class="main">
        <div class="content px-4 container-fluid">
            <h3>Instagram Posts</h3>

        </div>
    </div>
</div>
