@layout InstagramHeader
@page "/Portal/Social/Instagram"
@page "/Portal/Social/Instagram/Queue"

@code {

}

<div class="page">

    <div class="main">
        <div class="content px-4 container-fluid">
            <h3>Instagram Posts</h3>

        </div>
    </div>
</div>
