.page[b-3t0o7gyl8c] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-3t0o7gyl8c] {
    flex: 1;
}

.sidebar[b-3t0o7gyl8c] {
    background-color: white;
}

.heading[b-3t0o7gyl8c] {
    text-decoration: none;
}


.top-row[b-3t0o7gyl8c] {
    /*    background-color: #f7f7f7;*/
    border-bottom: 1px solid #d6d5d5;
    /*    justify-content: flex-end; */
    display: flex;
    align-items: center;
    background-color: #fff;
    /*    z-index: 1030;*/
    height: 3.5rem;
}

    .top-row[b-3t0o7gyl8c]  a, .top-row .btn-link[b-3t0o7gyl8c] {
        white-space: nowrap;
        margin-left: 0rem;
    }

    .top-row a:first-child[b-3t0o7gyl8c] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 800px) {
    .top-row:not(.auth)[b-3t0o7gyl8c] {
        display: flex !important;
    }

    .top-row[b-3t0o7gyl8c]  a, .top-row .btn-link[b-3t0o7gyl8c] {
        margin-left: 0rem !important;
    }

    .top-row.auth[b-3t0o7gyl8c] {
        justify-content: space-between;
    }

    .top-row a[b-3t0o7gyl8c], .top-row .btn-link[b-3t0o7gyl8c] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-3t0o7gyl8c] {
        flex-direction: row;
    }

    .sidebar[b-3t0o7gyl8c] {
        width: 250px;
        height: calc(100vh - 20px);
        position: sticky;
        top: 0;
    }

    .top-row[b-3t0o7gyl8c] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-3t0o7gyl8c] {
/*        padding-left: 2rem !important;*/
        padding-right: 1.5rem !important;
    }
}




.navbar-toggler[b-3t0o7gyl8c] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-3t0o7gyl8c] {
    border-bottom: 1px solid #dee2e6 !important;
    /*    background-color: rgba(0,0,0,0.4);*/
}

.navbar-brand[b-3t0o7gyl8c] {
    font-size: 1.1rem;
    color: black;
}

.oi[b-3t0o7gyl8c] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-3t0o7gyl8c] {
    font-size: 0.9rem;
    /*    border-bottom: 1px solid #dee2e6 !important;*/
}


    .nav-item[b-3t0o7gyl8c]  a {
        color: black;
                border-radius: 5px;
/*        height: 3.5rem;*/
        display: flex;
        align-items: center;
/*        line-height: 2.1rem;*/
    }

        .nav-item[b-3t0o7gyl8c]  a.active {
            /*            background-color: #D9ECFF !important;*/
            color: #0B90FF;
            background-color: #D9ECFF !important;
            /*            border-bottom: 1px solid #0B90FF !important;*/
        }

        .nav-item[b-3t0o7gyl8c]  a:hover {
            color: #0B90FF;
            background-color: #D9ECFF !important;
            /*            border-bottom: 1px solid #0B90FF !important;*/
        }

@media (min-width: 641px) {
    .navbar-toggler[b-3t0o7gyl8c] {
        display: none;
    }

    .collapse[b-3t0o7gyl8c] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.ConnectBox[b-3t0o7gyl8c] {
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(119, 121, 122);
    cursor: pointer;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex: 0 0 auto;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    min-width: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    transition-property: background-color, border-color, color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    user-select: none;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    height: 190px;
    border: 1px solid rgb(184, 184, 184);
}

.InsideConnectBox[b-3t0o7gyl8c] {
    padding: 1rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header[b-3t0o7gyl8c] {
    color: rgb(61, 61, 61);
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    -webkit-font-smoothing: antialiased;
}

.btnConnect[b-3t0o7gyl8c] {
    color: rgb(61, 61, 61);
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.nav-link[b-3t0o7gyl8c] {
font-size: 0.9rem;

}
