

@page "/Portal/Settings/ManageUsers"

@inherits ManageUsersBase
@layout Settings


<div class="container mt-5 pt-2" style="max-width: 30rem; margin-top:5rem; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; ">

    <div class="row ps-5 pe-4">
        <div class="row p-3 px-0">
            <div class="col">
                <div class="" style="color: rgb(61, 61, 61); font-family: Roboto, sans-serif; font-size: 32px; font-weight: 700; line-height: 44px;">
                    Manage Users
                </div>
            </div>

            <div class="col me-0" style="flex:0.5;">
                <a type="button" href="/Portal/Settings/ManageUsers/NewUser" class="btn btn-white btn-lg" style="border: 1px solid rgba(0,0,0,.125); justify-content: center; color: rgb(99, 99, 99);  font-size: 14px; font-weight: 500;">New User</a>
            </div>
        </div>

        @if (Users == null)
        {
            @if (!flag)
            {
                <SmallLoader StyleClass="pt-2 p-5"></SmallLoader>
            }
        }

        else
        {

            <div class="row p-3 pt-1 px-0">
                <div class="col pe-0">

                    @foreach (var user in Users)
                    {
                        @*@GetRole(user);*@

                        <DisplayUser user="user" OnUserDeleted="GetUsers"></DisplayUser>

                    }
                </div>
            </div>

        }
    </div>
</div>



