
@inherits ConnectBase 

@*<div class="top-row">

</div>*@

<div class="conatiner">
    <div class="row text-center">
        <div class="col-md-12 p-3 header">
            Connect a Facebook account
        </div>
    </div>
    <div class="row d-flex justify-content-center pt-4">
        <a class="col-md-2 btn" style="border:1px solid #d6d5d5;" @onclick="ConnectFacebook">
            <div class="ConnectBox">
                <div class="InsideConnectBox">
                    <img src="/images/Fb.png" class="rounded-circle" width="35" height="35" />
                    <h5 class="btnConnect">Facebook</h5>
                    <span>Page</span>
                    <span>Connect</span>


                </div>
            </div>
        </a>
    </div>

</div>


