<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ed74b93f-aa8f-4c18-9a77-823c2cec62c0/resourceGroups/Sohi/providers/Microsoft.Web/sites/sohi-web-dev</ResourceId>
    <ResourceGroup>Sohi</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://sohi-web-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>sohi-web-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sohi-web-dev</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sohi-web-dev</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>