



            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                <ul class="nav">

                    <li class="nav-item px-0">
                        <NavLink class="nav-link" href="@($"Portal/Social/Facebook/{Id}")" Match="NavLinkMatch.All">
                            Queue
                        </NavLink>
                    </li>
                    <li class="nav-item px-0">
                        <NavLink class="nav-link" href="@($"Portal/Social/Facebook/{Id}/Posts")">
                            Posts
                        </NavLink>
                    </li>
                    <li class="nav-item px-0">
                        <NavLink class="nav-link" href="/Portal/Social/Facebook/Analytics">
                            Analytics
                        </NavLink>
                    </li>

                    <li class="nav-item px-0">
                        <NavLink class="nav-link" href="/Portal/Social/Facebook/Settings">
                            Settings
                        </NavLink>
                    </li>

                </ul>
            </div>

       


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    [Parameter]
    public string Id { get; set; }
}
