



            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                <ul class="nav">

                    <li class="nav-item px-0">
                        <NavLink class="nav-link" href="/Portal/Social/Facebook" Match="NavLinkMatch.All">
                            Queue
                        </NavLink>
                    </li>
                    <li class="nav-item px-0">
                        <NavLink class="nav-link" href="/Portal/Social/Facebook/Posts">
                            Posts
                        </NavLink>
                    </li>
                    <li class="nav-item px-0">
                        <NavLink class="nav-link" href="/Portal/Social/Facebook/Analytics">
                            Analytics
                        </NavLink>
                    </li>

                </ul>
            </div>

       


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


}
