

.sidebar[b-cn2phkjmkf] {
    background-color: #fff !important;
}

.navbar[b-cn2phkjmkf] {
    /*    justify-content:center;*/
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}
.navbar-toggler[b-cn2phkjmkf] {
/*    background-color: rgba(255, 255, 255, 0.1);*/
}

.top-row[b-cn2phkjmkf] {
    height: 3.5rem;
    border-bottom: 1px solid #dee2e6 !important;
    /*    background-color: rgba(0,0,0,0.4);*/
    background-color: #f7f7f7 !important;
}

.navbar-brand[b-cn2phkjmkf] {
    font-size: 1.1rem;
    color: black;
}

.oi[b-cn2phkjmkf] {
    width: 1rem;
    font-size: 0.7rem;
    vertical-align: text-top;
/*    top: -2px;*/
}

.nav-item[b-cn2phkjmkf] {
    font-size: 0.9rem;
    border-bottom: 1px solid #dee2e6 !important;
}

    .nav-item:first-of-type[b-cn2phkjmkf] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-cn2phkjmkf] {
    }

    .nav-item[b-cn2phkjmkf]  a {
        color: black;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-cn2phkjmkf]  a.active {
            background-color: #D9ECFF !important;
            color: black;
        }

        .nav-item[b-cn2phkjmkf]  a:hover {
            background-color: #D9ECFF !important;
            color: black;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-cn2phkjmkf] {
        display: none;
    }

    .collapse[b-cn2phkjmkf] {
        display: block;
    }
}
