@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Identity/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Identity/css/site.css" />

    <style>
        .title {
            font-size: 36px;
            margin: 0;
            font-family: sans-serif;
            color: black;
            font-weight: 500;
        }


        .C {
            list-style: none;
        }

            .C li:before {
                content: '•';
                color: #1b6ec2;
                padding-right: 0.3rem;
            }

            .empty:before {
                content: ''!important;
                color: #1b6ec2;
                padding-right: 0.3rem;
            }

        .popular:before {
            background-color: green;
            border-radius: 4px 4px 0 0;
            bottom: 100%;
            color: #fff;
            content: "Most Selling";
            font-size: 1rem;
            font-weight: 600;
            height: 32px;
            left: 0;
            line-height: 33px;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
        }


        .CustomInput {
            border: none;
            border-bottom: 1px solid #ced4da !important;
            border-radius: unset;
        }



            .CustomInput:focus {
                /*    border: 1px solid #007CFF;*/
                box-shadow: none;
                border: none;
                border-bottom: 1px solid #0B90FF !important;
                cursor: pointer;
            }

        .CustomFont {
            font-size: 0.75rem;
            font-weight: 600;
        }

        .CustomFont2 {
            font-size: 16px;
        }

        .Bold {
            font-weight: bold !important;
        }

        .field-validation-error {
            font-size: 0.875rem !important;
        }
        .input-validation-error {
            border-color: #dc3545 !important;
        }

        .CustomContact {
            color: white!important;
            background-color: transparent !important;
        }

            .CustomContact::placeholder {
                color: white;
                font-size: 0.75rem;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-light navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-page="/Website/Home">DC</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @{
                        var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
                    }
                    @if (result.Success)
                    {
                        await Html.RenderPartialAsync("_LoginPartial");
                    }
                    else
                    {
                        throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
                            "usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
                            $"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid p-0 m-0">
        <main role="main" class="pb-3 pt-5">
            @RenderBody()
        </main>
    </div>
    <footer class="footer border-top text-muted">
        <div class="container">
            &copy; 2021 - DC - <a asp-area="" asp-page="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
