@page "/Portal/Leads/LeadList"
@inherits LeadListBase



<div class="row">
    <div class="col-md-12 text-center">
        <h3>Leads</h3>

    </div>
</div>

@if (Leads == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="row">
        <div class="col  mt-10 mb-10">
            <a class="btn btn-primary" href="@($"Portal/Leads/EditLead")">
                Create
            </a>
        </div>
    </div>

    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Lead Source</th>
                <th>Created On</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lead in Leads)
            {
                <DisplayLead Lead="lead" OnLeadDeleted="LeadDeleted"></DisplayLead>
            }
        </tbody>
    </table>
}