@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a class="ml-md-auto">Gurminder Singh</a>
        </div>
        <div class=" px-4 container-fluid">
            @Body
        </div>
    </div>
</div>
