<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DC</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column" style="min-height: calc(100vh - 250px);">
        <li class="nav-item px-0">
            <NavLink class="nav-link p-2" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>
                <br />Dashboard
            </NavLink>
        </li>

        <li class="nav-item px-0">
            <NavLink class="nav-link p-2" href="Portal/Social/Create">
                <span class="oi oi-phone" aria-hidden="true"></span>
                <br /> Social
            </NavLink>
        </li>

        <li class="nav-item px-0">
            <NavLink class="nav-link p-2" href="Portal/Ads">
                <span class="oi oi-bullhorn" aria-hidden="true"></span>
                <br /> Ads
            </NavLink>
        </li>

        @*<li class="nav-item px-0">
            <NavLink class="nav-link p-2" href="Portal/Leads/LeadList">
                <span class="oi oi-people" aria-hidden="true"></span>
                <br /> Leads
            </NavLink>
        </li>*@

        @*<li class="nav-item px-0">
            <NavLink class="nav-link p-2" href="Portal/Emails/Send">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span>
                <br /> Emails
            </NavLink>
        </li>

        <li class="nav-item px-0">
            <NavLink class="nav-link p-2" href="Portal/Clients/ClientsList">
                <span class="oi oi-person" aria-hidden="true"></span>
                <br /> Clients
            </NavLink>
        </li>*@

        @*<li class="nav-item px-0">
            <NavLink class="nav-link p-2" href="Portal/Ads">
                <span class="oi oi-bullhorn" aria-hidden="true"></span>
                <br /> Ads
            </NavLink>
        </li>
        <li class="nav-item px-0">
            <NavLink class="nav-link p-2" href="Portal/Leads">
                <span class="oi oi-people" aria-hidden="true"></span>
                <br /> Leads
            </NavLink>
        </li>
        <li class="nav-item px-0">
            <NavLink class="nav-link p-2" href="Portal/Clients">
                <span class="oi oi-person" aria-hidden="true"></span>
                <br /> Clients
            </NavLink>
        </li>*@

    </ul>
    <ul class="nav flex-column">
        <li class="nav-item px-0">
            <NavLink class="nav-link p-2" href="/Portal/Settings/General">
                <span class="oi oi-cog" aria-hidden="true"></span>
                <br />Settings
            </NavLink>
            <NavLink class="nav-link p-2" href="/Account">
                <img src="/images/img_avatar.png" height="35" width="35" class="rounded-circle" />
            </NavLink>

            <NavLink class="nav-link p-2" href="identity/account/logout" style="color: #d9534f">
                <span class="oi oi-power-standby" aria-hidden="true"></span>
                <br />Logout
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
