
<div class="@StyleClass">
    <div class="col-md-12 text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string StyleClass { get; set; }

}
