
@inherits LayoutComponentBase

@layout MainLayout


<div class="page">
    <div class="sidebar">
        <SocialMenu />
    </div>

    <div class="main">

        <div class="container-fluid ps-0">
            @Body
        </div>
    </div>
</div>
