@inherits SocialLayoutBase

@layout MainLayout

<div class="page">
    <div class="sidebar">

        <SocialMenu FacebookProfile="FacebookProfile" InstagramProfile="InstagramProfile" OnPageSelection="PageSelectionChanged" flag="flag" />

    </div>

    <div class="main">


        <CascadingValue Value="Profile" Name="SocialProfile">
            <div class="container-fluid ps-0 pe-0" style="min-height: 100vh;">
                @Body
            </div>
        </CascadingValue>
    </div>
</div>
