@page "/About"
@model Sohi.Web.Pages.Website.AboutModel
@{
    ViewBag.Title = "DC - About";
}

    <div class="container-fluid p-0 m-0">

        <header id="home">
            
            <div class="pt-3 pb-3 bg-white">
                <div class="container">

                    <div class="row">
                        <div class="col pt-5">
                            <h2 class="mb-3 text-center">Our Business</h2>
                            <p class="mb-3 text-center" style="font-family:HelveticaNeueW01;">
                                With our innovative and insightful technology, we strive to provide useful tools to our users to manage their social platforms.

                                <br /><br />

                                In order to provide excellent services, our incredible team of engineers, programmers, designers and marketing experts will manage and add the new platforms that will save time to manage social platforms and run ads for our users.
                            </p>

                            <div class="text-center">
                                <a class="btn btn-primary" href="/Identity/Account/Register" role="button">Get Started for Free</a>
                            </div>

                        </div>

                        <div class="col">
                            <img src="https://sohi.blob.core.windows.net/software/Accounts/DC/Team.jpg" height="500" width="100%" />
                        </div>
                    </div>

                </div>
            </div>
        </header>


        <!-- Team -->
        @*<div class="container" id="team">
            <section class="team-section text-center my-5">

                <h2 class="h1-responsive font-weight-bold my-5">Our team</h2>
                <p class="grey-text w-responsive mx-auto mb-5">
                    Our team works hard for delivering the High-Quality software solutions to our clients.
                </p>

                <div class="row">

                    <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
                        <div class="avatar mx-auto">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1"
                                 alt="Sample avatar">
                        </div>
                        <h5 class="font-weight-bold mt-4 mb-3">Harjinder Kaur</h5>
                        <p class="text-uppercase blue-text"><strong>Software Engineer</strong></p>
                        <p class="grey-text">
                            Harjinder Kaur is a software engineer with skills of Java, Javascript, Html, Css, Angular Js, Nodejs.
                        </p>
                        <ul class="list-unstyled mb-0">
                            <a class="p-2 fa-lg fb-ic">
                                <i class="fab fa-facebook-f blue-text"> </i>
                            </a>
                            <a class="p-2 fa-lg tw-ic">
                                <i class="fab fa-twitter blue-text"> </i>
                            </a>
                            <a class="p-2 fa-lg ins-ic">
                                <i class="fab fa-instagram blue-text"> </i>
                            </a>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
                        <div class="avatar mx-auto">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
                                 alt="Sample avatar">
                        </div>
                        <h5 class="font-weight-bold mt-4 mb-3">Gurminder Singh</h5>
                        <p class="text-uppercase blue-text"><strong>Software Engineer</strong></p>
                        <p class="grey-text">
                            Gurminder Singh is a software engineer with skills of .Net, .Net core, Javascript, Html, Css, Swift, C#.
                        </p>
                        <ul class="list-unstyled mb-0">
                            <a class="p-2 fa-lg fb-ic">
                                <i class="fab fa-facebook-f blue-text"> </i>
                            </a>
                            <a class="p-2 fa-lg ins-ic">
                                <i class="fab fa-instagram blue-text"> </i>
                            </a>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-md-0 mb-5">
                        <div class="avatar mx-auto">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1"
                                 alt="Sample avatar">
                        </div>
                        <h5 class="font-weight-bold mt-4 mb-3">Raminder Kaur</h5>
                        <p class="text-uppercase blue-text"><strong>Software Testing Engineer</strong></p>
                        <p class="grey-text">
                            Raminder Kaur is a software testing engineer who focus on delivering the secured bugs free projects.
                        </p>
                        <ul class="list-unstyled mb-0">
                            <a class="p-2 fa-lg fb-ic">
                                <i class="fab fa-facebook-f blue-text"> </i>
                            </a>
                            <a class="p-2 fa-lg ins-ic">
                                <i class="fab fa-instagram blue-text"> </i>
                            </a>
                            <a class="p-2 fa-lg ins-ic">
                                <i class="fab fa-dribbble blue-text"> </i>
                            </a>
                        </ul>
                    </div>

                </div>

            </section>
        </div>*@

    </div>
