@page
@model Sohi.Web.Pages.Website.ContactModel
@{
    ViewBag.Title = "DC - Contact";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        .font-weight-bold {
            font-weight: 600 !important;
            font-family: inherit;
        }
    </style>
</head>
<body>

    <div class="container-fluid p-0 m-0">

        @*<header id="home">

                <div class="p-5 bg-light" style="padding-top:200px!important;">
                    <div class="container">
                        <h2 class="mb-3">Build your website with us</h2>
                        <h6 class="mb-3">Expertise in building website for organizations.</h6>
                        <a class="btn btn-primary" href="#contact" role="button">Get Started</a>
                    </div>
                </div>
            </header>*@


        <div class="bg-light pt-5 pe-5 pb-3 ps-5" id="contact">
            <div class="container">

                <div class="row p-5">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col">
                                <h2 class="h1-responsive text-center font-weight-bold pb-4">Get in Touch</h2>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6 class="text-center CustomFont py-2">104 Hollowgrove Blvd Brampton, ON, Canada L6P 1A9</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6 class="text-center CustomFont py-2">20xstocks@gmail.com</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6 class="text-center CustomFont py-2">647-465-1911</h6>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-1">
                        </div>

                        <div class="col-md-6 ps-2">
                            <form>
                                <div class="mb-3">
                                    <label for="Name" class="form-label CustomFont">Name</label>
                                    <input type="text" class="form-control" id="Name" placeholder="Enter your name">
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label for="Email" class="form-label CustomFont">Email</label>
                                            <input type="email" class="form-control" id="Email" placeholder="Enter your email">
                                        </div>
                                        <div class="col">
                                            <label for="Phone" class="form-label CustomFont">Phone</label>
                                            <input type="number" class="form-control" id="phone" placeholder="Enter your phone number">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="Subject" class="form-label CustomFont">Subject</label>
                                    <input type="text" class="form-control" id="Subject" placeholder="Type the subject" >

                                </div>
                                <div class="mb-3">
                                    <label for="Description" class="form-label CustomFont">Description</label>
                                    <textarea type="text" cols="6" class="form-control" id="Description" placeholder="Type your message here..."></textarea>
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary" style="width:100%">Submit</button>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
        </div>

        <div class="bg-white pt-2 pe-5 pb-5 ps-5" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2881.1083784474677!2d-79.73265418485668!3d43.77060905284924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3d5cb007143b%3A0x8966d25a3b879b72!2s104%20Hollowgrove%20Blvd%2C%20Brampton%2C%20ON%20L6P%201A9!5e0!3m2!1sen!2sca!4v1625505958933!5m2!1sen!2sca" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="bg-light text-lg-start">
            <div class="container p-4">
                <div class="row">

                    <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                        <h2>DC</h2>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">About us</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-dark">About us</a>
                            </li>
                            <li>
                                <a href="#!" class="text-dark">Contact</a>
                            </li>
                            <li>
                                <a href="#!" class="text-dark">Company</a>
                            </li>
                            <li>
                                <a href="#!" class="text-dark">Jobs</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-0">Social</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!" class="text-dark">Facebook</a>
                            </li>
                            <li>
                                <a href="#!" class="text-dark">Instagram</a>
                            </li>
                            <li>
                                <a href="#!" class="text-dark">Twitter</a>
                            </li>
                            <li>
                                <a href="#!" class="text-dark">LinkedIn</a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </footer>
    </div>


</body>



</html>