@page
@model Sohi.Web.Pages.Website.FeaturesModel
@{
    ViewBag.Title = "DC - Features";
}

<div class="container-fluid p-0 m-0">

    <header id="home">

        <div class="p-5 bg-light" style="padding-top:200px!important;">
            <div class="container">
                <h2 class="mb-3">Social Media and Ads Manager</h2>
                <h6 class="mb-3">Manage your social accounts and run ads from one place.</h6>
                <a class="btn btn-primary" href="#contact" role="button">Get Started</a>
            </div>
        </div>
    </header>
    <div class="container pt-4 pe-5 pb-5 ps-5" id="features">

        <section class="team-section text-center my-5">
            <h2 class="h1-responsive font-weight-bold my-5">Features</h2>

            <div class="card mb-3 border-0">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img src="https://sohi.blob.core.windows.net/software/Accounts/DC/socialFeatures.png" class="card-img-top" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 1.6rem; font-weight: 500;">Social Media Schedular</h5>
                            <p class="card-text text-left">
                                <ul class="text-left">
                                    <li>Create posts on multiple account with just one click</li>
                                    <li>Schedule posts on Facebook, Instagram, Linked and Twitter</li>
                                    <li>Manage social media accounts</li>
                                    <li>Get real time insights</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 border-0 pt-5">
                <div class="row g-0">

                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 1.6rem; font-weight: 500;">Advertisement Manager</h5>
                            <p class="card-text text-left">
                                <ul class="text-left">
                                    <li>Create Ads on Facebook, Google and LinkedIn</li>
                                    <li>Get real time ads insights</li>
                                    <li>Create your targeted audience and reuse it</li>
                                    <li>Reach millions of people everyday</li>
                                </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="https://sohi.blob.core.windows.net/software/Accounts/DC/AdsFeatures.png" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>

        </section>
    </div>

    <!-- Footer -->
    <footer class="bg-light text-lg-start">
        <div class="container p-4">
            <div class="row">

                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <h2>DC</h2>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">About us</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">About us</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Contact</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Company</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Jobs</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">Social</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark">Facebook</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Instagram</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Twitter</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">LinkedIn</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </footer>
</div>

