@page
@*@model Sohi.Web.Pages.Website.HomeModel*@
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewBag.Title = "DC - Home";
}

<div class="container-fluid p-0 m-0">

    <header id="home">
        <div class="p-5 bg-light" style="background-image: url(https://sohi.blob.core.windows.net/software/Accounts/DC/main-bg.jpg); height:500px; width: 100%; background-size: cover;">

            <div class="container">
                <div class="row">
                    <div class="col" style="padding-top: 250px !important;">
                        <h2 class="mb-3">Social media manager</h2>
                        <h6 class="mb-3">Plan, schedule, and publish your content from all-in-one social marketing platform.</h6>
                        <a class="btn btn-primary" href="#contact" role="button">Get started free</a>
                    </div>
                    <div class="col">
                       @*<img src="https://sohi.blob.core.windows.net/software/Accounts/DC/neonbrand-I6wCDYW6ij8-unsplash.jpg" style="height:400px; width: 100%; background-size: cover;" />*@
                    </div>
                </div>
                
            </div>

           
        </div>
    </header>

    <div class="container pt-2 pe-5 pb-5 ps-5" id="services">
        <section class="team-section text-center my-5">
            <h2 class="h1-responsive font-weight-bold my-5">Why Us?</h2>
            <div class="card-group">
                <div class="card">
                    <img src="~/Images/code.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Websites</h5>
                        <p class="card-text">Build your website.</p>
                        @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
                    </div>
                </div>
                <div class="card">
                    <img src="~/Images/code.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lead Generation</h5>
                        <p class="card-text">Generate leads and follow up with them with few clicks. Our software catch the email and phone number of a lead.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="~/Images/code.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Social Platforms</h5>
                        <p class="card-text">Post on multiple social platforms with one click.</p>
                    </div>
                </div>

            </div>
            <div class="card-group">
                <div class="card">
                    <img src="~/Images/code.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Billing</h5>
                        <p class="card-text">Support one time and recurring payments.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="~/Images/code.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Reports</h5>
                        <p class="card-text">Generate custom reports and compare your business performance.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="~/Images/code.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Booking</h5>
                        <p class="card-text">Simple way to schedule appointments.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div class="bg-light pt-2 pe-5 pb-5 ps-5" id="pricing">
        <div class="container pt-2 pe-5 pb-5 ps-5">
            <section>
                <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                    <h1 class="h1-responsive font-weight-bold my-5">Pricing</h1>
                </div>
                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-4 pt-3" style="background-color:black;">
                                <div class="row pt-1">
                                    <div class="col">
                                        <h4 class="my-0 fw-normal" style="font-size:18px; color:#fff">Basic</h4>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col">
                                        <h4 class="my-0 fw-normal" style="font-size: 3rem; color:#fff">$24<span style="font-size: 1.3rem;">/mo</span></h4>
                                    </div>
                                </div>
                                <div class="row pt-4">
                                    <div class="col">
                                        <a type="button" href="/Portal/Settings/Accounts" class="btn btn-white btn-lg w-100" style="border: 1px solid #fff; justify-content: center; color: #fff;  font-size: 14px; font-weight: 500;">Get Access Now</a>

                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title" style="color: #14456b; text-align: start; font-size:21px;">Basic Feature:</h1>
                                <ul class="list-unstyled mt-3 mb-4 C" style="color: #212529; text-align: start;">
                                    <li>1 users included</li>
                                    <li>3 social set</li>
                                    <li>30 scheduled posts</li>
                                    <li>30 posts per social profile</li>
                                    <li>Email support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col popular p-0">
                        <div class="card mb-4 rounded-3 shadow-sm" style="border:0; border-bottom-left-radius:0; border-bottom-right-radius:0;">
                            <div class="card-header py-4 pt-3" style="background-color:black;">
                                <div class="row pt-1">
                                    <div class="col">
                                        <h4 class="my-0 fw-normal" style="font-size:18px; color:#fff">Essential</h4>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col">
                                        <h4 class="my-0 fw-normal" style="font-size: 3rem; color:#fff">$99<span style="font-size: 1.3rem;">/mo</span></h4>
                                    </div>
                                </div>
                                <div class="row pt-4">
                                    <div class="col">
                                        <a type="button" href="/Portal/Settings/Accounts" class="btn btn-white btn-lg w-100" style="border: 1px solid #fff; justify-content: center; color: #fff;  font-size: 14px; font-weight: 500;">Get Access Now</a>

                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title" style="color: #14456b; text-align: start; font-size:21px;">Essential Feature:</h1>
                                <ul class="list-unstyled mt-3 mb-4 C" style="color: #212529; text-align: start;">
                                    <li>3 users included</li>
                                    <li>5 social set</li>
                                    <li>70 scheduled posts</li>
                                    <li>70 posts per social profile</li>
                                    <li>Facebook ads</li>
                                    <li>Email support</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-4 pt-3" style="background-color:black;">
                                <div class="row pt-1">
                                    <div class="col">
                                        <h4 class="my-0 fw-normal" style="font-size:18px; color:#fff">Enterprise</h4>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col">
                                        <h4 class="my-0 fw-normal" style="font-size: 3rem; color:#fff">$299<span style="font-size: 1.3rem;">/mo</span></h4>
                                    </div>
                                </div>
                                <div class="row pt-4">
                                    <div class="col">
                                        <a type="button" href="/Portal/Settings/Accounts" class="btn btn-white btn-lg w-100" style="border: 1px solid #fff; justify-content: center; color: #fff;  font-size: 14px; font-weight: 500;">Get Access Now</a>

                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title" style="color: #14456b; text-align: start; font-size:21px;">Enterprise Feature:</h1>
                                <ul class="list-unstyled mt-3 mb-4 C" style="color: #212529; text-align: start;">
                                    <li>10 users included</li>
                                    <li>10 social set</li>
                                    <li>200 scheduled posts</li>
                                    <li>200 posts per social profile</li>
                                    <li>Facebook ads</li>
                                    <li>Google ads</li>
                                    <li>LinkedIn ads</li>
                                    <li>Email support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </section>
        </div>

    </div>

    <div class="pt-2 pe-5 pb-5 ps-5" id="contact">
        <div class="container">

            <h2 class="h1-responsive text-center font-weight-bold my-5">Contact us</h2>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="mb-3">
                            <label for="Name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="Name" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="Email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="Email" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="Description" class="form-label">Description</label>
                            <textarea type="text" cols="6" class="form-control" id="Description"></textarea>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary" style="width:100%">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="bg-light text-lg-start">
        <div class="container p-4">
            <div class="row">

                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <h2>DC</h2>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">About us</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">About us</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Contact</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Company</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Jobs</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">Social</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark">Facebook</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Instagram</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Twitter</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">LinkedIn</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>

   
</div>
