@page
@*@model Sohi.Web.Pages.Website.HomeModel*@
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewBag.Title = "DC - Home";
}

<div class="container-fluid p-0 m-0">

    <header id="home">
        <div class="p-4 bg-light"
             @*style="background-image: url(https://sohi.blob.core.windows.net/software/Accounts/DC/main-bg.jpg); height:500px; width: 100%; background-size: cover;"*@
             >

            <div class="container">
                <div class="row">
                    <div class="col" style="padding-top: 200px !important;">
                        <h2 class="mb-3">Social Media and Ads Manager</h2>
                        <h6 class="mb-3">Simple but powerful platform to plan, schedule, and publish your content from one place.</h6>
                        <a class="btn btn-primary" href="/Identity/Account/FreeTrial" role="button">Get started free</a>
                    </div>
                    <div class="col">
                       @*<img src="https://sohi.blob.core.windows.net/software/Accounts/DC/neonbrand-I6wCDYW6ij8-unsplash.jpg" style="height:400px; width: 100%; background-size: cover;" />*@
                    </div>
                </div>
                
            </div>

           
        </div>
    </header>

    <div class="container pt-2 pe-5 pb-5 ps-5" id="services">
        <section class="team-section text-center my-5">
            <div class="pt-3 pb-3 bg-white">
                <div class="container">

                    <div class="row">
                        <div class="col pt-5">
                            <h2 class="mb-3 text-center">Who we are?</h2>
                            <p class="mb-3 text-center" style="font-family:HelveticaNeueW01;">
                                We are a unique platform from where our users can manage their social media accounts such as Facebook and Instagram. With our unique features our users can create and schedule posts on Facebook and Instagram.
                                <br /><br />

                                In addition to that, we also provide tools to create and run ads on Facebook and Instagram. Our team is integrating more social platforms such as LinkedIn, Twitter, Snapchat and so on. These features will allow our users to create ads from one platform.
                            </p>

                            <div class="text-center">
                                <a class="btn btn-primary" href="#contact" role="button">Get Started for free</a>
                            </div>

                        </div>

                        <div class="col">
                            <img src="https://sohi.blob.core.windows.net/software/Accounts/DC/Team.jpg" height="500" width="100%" />
                        </div>
                    </div>

                </div>
            </div>

        </section>
    </div>



    <div class="pt-2 pe-5 pb-5 ps-5" id="contact">

        <div class="" style="background-color: rgb(56,50,45) !important;">
            <div class="container">

                <div class="row p-5">
                    <div class="col-md-5" style="color:white;">
                        <div class="row">
                            <div class="col">
                                <h2 class="h1-responsive text-center font-weight-bold pb-4">Get in Touch</h2>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6 class="text-center CustomFont py-2">104 Hollowgrove Blvd Brampton, ON, Canada L6P 1A9</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6 class="text-center CustomFont py-2">20xstocks@gmail.com</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6 class="text-center CustomFont py-2">647-465-1911</h6>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-1">
                    </div>

                    <div class="col-md-6 ps-2" style="color:white; ">
                        <form>
                            <div class="mb-3">
                                <label for="Name" class="form-label CustomFont">Name</label>
                                <input type="text" class="form-control CustomContact" id="Name" placeholder="Enter your name">
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label for="Email" class="form-label CustomFont">Email</label>
                                        <input type="email" class="form-control CustomContact" id="Email" placeholder="Enter your email">
                                    </div>
                                    <div class="col">
                                        <label for="Phone" class="form-label CustomFont">Phone</label>
                                        <input type="number" class="form-control CustomContact" id="phone" placeholder="Enter your phone number">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="Subject" class="form-label CustomFont">Subject</label>
                                <input type="text" class="form-control CustomContact" id="Subject" placeholder="Type the subject">

                            </div>
                            <div class="mb-3">
                                <label for="Description" class="form-label CustomFont">Description</label>
                                <textarea type="text" cols="6" class="form-control CustomContact" id="Description" placeholder="Type your message here..."></textarea>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-light" style="width:100%">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>

      
    </div>


    <!-- Footer -->
    <footer class="bg-light text-lg-start">
        <div class="container p-4">
            <div class="row">

                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <h2>DC</h2>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">About us</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">About us</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Contact</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Company</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Jobs</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">Social</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark">Facebook</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Instagram</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Twitter</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">LinkedIn</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>

   
</div>
