@page
@model Sohi.Web.Pages.Website.PricingModel

@{
    ViewBag.Title = "DC - Pricing";
}

<div class="container-fluid p-0 m-0">
    <header id="home">

        <div class="p-5 bg-light text-center" style="padding-top:200px!important;">
            <div class="container">
                <h2 class="mb-3">Select your suitable pricing plan</h2>
                @*<h6 class="mb-3">Choose a plan to discover why thousands of entrepreneurs trust DC.</h6>*@
                <a class="btn btn-primary" href="/Identity/Account/Register" role="button">Get Started for Free</a>
            </div>
        </div>
    </header>


    <div class="bg-white pt-2 pe-5 pb-5 ps-5" id="pricing">
        <div class="container pt-2 pe-5 pb-5 ps-5">
            <section>
                <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                    <h1 class="h1-responsive font-weight-bold my-5">Pricing</h1>
                </div>
                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                    <div class="col-md-4">

                        <form method="post" asp-page-handler="BasicPlan">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-4 pt-3" style="background-color:#fff;">
                                    <div class="row pt-1">
                                        <div class="col">
                                            <h4 class="my-0 fw-normal" style="font-size:18px; color:#14456b">Basic</h4>
                                        </div>
                                    </div>
                                    <div class="row pt-3">
                                        <div class="col">
                                            <h4 class="my-0 fw-normal" style="font-size: 3rem; color:#14456b">$24<span style="font-size: 1.3rem;">/mo</span></h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title" style="color: #14456b; text-align: start; font-size:21px;">Basic Feature:</h1>
                                    <ul class="list-unstyled mt-3 mb-4 C" style="color: #212529; text-align: start;">
                                        <li>1 users included</li>
                                        <li>3 social set</li>
                                        <li>30 scheduled posts</li>
                                        <li>30 posts per social profile</li>
                                        <li>Email support</li>
                                        <li class="empty"></li>
                                    </ul>
                                    <div class="row pt-4">
                                        <div class="col">
                                            @*<a type="button" asp-action="RedirectToStripe" class="btn btn-white btn-lg w-100" style="border: 1px solid #14456b; justify-content: center; color: #14456b;  font-size: 14px; font-weight: 500;">Get Access Now</a>*@

                                            <button type="submit" class="btn btn-white btn-lg w-100" style="border: 1px solid #14456b; justify-content: center; color: #14456b;  font-size: 14px; font-weight: 500;">Get Access Now</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">

                        <form method="post" asp-page-handler="OnPost">
                            <div class="card popular mb-4 rounded-3 shadow-sm" style="border:1px solid #14456b; border-bottom-left-radius:0; border-bottom-right-radius:0;">
                                <div class="card-header py-4 pt-3" style="background-color:#fff;">
                                    <div class="row pt-1">
                                        <div class="col">
                                            <h4 class="my-0 fw-normal" style="font-size:18px; color:#14456b">Premium</h4>
                                        </div>
                                    </div>
                                    <div class="row pt-3">
                                        <div class="col">
                                            <h4 class="my-0 fw-normal" style="font-size: 3rem; color:#14456b">$99<span style="font-size: 1.3rem;">/mo</span></h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title" style="color: #14456b; text-align: start; font-size:21px;">Premium Feature:</h1>
                                    <ul class="list-unstyled mt-3 mb-4 C" style="color: #212529; text-align: start;">
                                        <li>3 users included</li>
                                        <li>5 social set</li>
                                        <li>70 scheduled posts</li>
                                        <li>70 posts per social profile</li>
                                        <li>3 Facebook ads</li>
                                        <li>Email support</li>
                                    </ul>
                                    <div class="row pt-4">
                                        <div class="col">
                                            <button type="submit" class="btn btn-white btn-lg w-100" style="border: 1px solid #14456b; justify-content: center; color: #14456b;  font-size: 14px; font-weight: 500;">Get Access Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-4">

                        <form method="post" asp-page-handler="UnlimitedPlan">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-4 pt-3" style="background-color:#fff;">
                                    <div class="row pt-1">
                                        <div class="col">
                                            <h4 class="my-0 fw-normal" style="font-size:18px; color:#14456b">Unlimited</h4>
                                        </div>
                                    </div>
                                    <div class="row pt-3">
                                        <div class="col">
                                            <h4 class="my-0 fw-normal" style="font-size: 3rem; color:#14456b">$299<span style="font-size: 1.3rem;">/mo</span></h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title" style="color: #14456b; text-align: start; font-size:21px;">Unlimited Feature:</h1>
                                    <ul class="list-unstyled mt-3 mb-4 C" style="color: #212529; text-align: start;">
                                        <li>Unlimited users included</li>
                                        <li>Unlimited social set</li>
                                        <li>Unlimited scheduled posts</li>
                                        <li>Unlimited social posts</li>
                                        <li>Unlimited Facebook ads</li>
                                        @*<li>Google ads</li>
                                            <li>LinkedIn ads</li>*@
                                        <li>Priority Email support</li>
                                    </ul>
                                    <div class="row pt-4">
                                        <div class="col">
                                            <button type="submit" class="btn btn-white btn-lg w-100" style="border: 1px solid #14456b; justify-content: center; color: #14456b;  font-size: 14px; font-weight: 500;">Get Access Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </section>
        </div>

    </div>


</div>

