@page
@model Sohi.Web.Pages.Website.SuccessModel
@{
}

<div class="container-fluid p-0 m-0">
    <header id="home">

        <div class="p-5 bg-white text-center" style="padding-top:150px!important; padding-bottom:150px!important;">
            <div class="container">
                <h2 class="mb-3">Thank You for signing up @Model.CustomerName!</h2>
                <h6 class="mb-3">You are now on Premium plan paying monthly.</h6>
                <div class="row">
                    @*<div class="col">
                        <a href="/Website/Pricing" class="btn btn-white btn-lg px-0" style=" justify-content: center;  font-size: 14px; font-weight: 500;"><svg class="InlineSVG Icon Header-backArrow mr2 Icon--sm" focusable="false" width="12" height="12" viewBox="0 0 16 16"><path d="M3.417 7H15a1 1 0 0 1 0 2H3.417l4.591 4.591a1 1 0 0 1-1.415 1.416l-6.3-6.3a1 1 0 0 1 0-1.414l6.3-6.3A1 1 0 0 1 8.008 2.41z" fill-rule="evenodd"></path></svg>&nbsp;Back to plans</a>
                    </div>*@
                    <div class="col">
                        <a class="btn btn-primary" href="/" role="button">Go to Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>