@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="container">
    <div class="row pt-5 justify-content-center align-items-center h-75">
        <div class="col-md-7 p-5" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; ">
            <div class="col-md-12">
                <h2 class="title">Register</h2>
                <partial name="_StatusMessage" model="Model.StatusMessage" />
            </div>
        </div>
    </div>
</div>
