@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container">
    <div class="row pt-5 justify-content-center align-items-center h-75">
        <div class="col-md-7 p-5" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; ">
            <div class="col-md-12">
                <h1>@ViewData["Title"]</h1>
                <hr />
                <p>
                    Please check your email to reset your password.
                </p>

            </div>
        </div>
    </div>
</div>