@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<div class="container">
    <div class="row pt-5 justify-content-center align-items-center h-75">
        <div class="col-md-7 p-5" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; ">
            <div class="col-md-12">
                <header>
                    <h2 class="title text-danger">@ViewData["Title"]</h2>
                    <hr />
                    <p class="text-danger">This account has been locked out, please try again later.</p>
                </header>
            </div>
        </div>
    </div>
</div>