@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="container">
    <div class="row pt-5 justify-content-center align-items-center h-75">
        <div class="col-md-7 p-5" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; ">
            <div class="col-md-12">
                <header>
                    <h2 class="title">@ViewData["Title"]</h2>
                    <hr />
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
                            </form>
                        }
                        else
                        {
                            <p>You have successfully logged out.</p>
                        }
                    }
                </header>
            </div>
        </div>
    </div>
</div>
<script>(() => {
        document.getElementById('logoutForm').submit();
    })()</script>
