@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container">
    <div class="row pt-5 pb-4 justify-content-center align-items-center h-75">
        <div class="col-md-7 p-5" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; ">
            <div class="col-md-12">
                <h2 class="title">@ViewData["Title"]</h2>
                <hr />
                <p>
                    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
                </p>
            </div>
        </div>
    </div>
</div>